@import "Global";
.home-container {
  border: 4px;
  border-color: $color1;
  max-width: 300px;
}
h1 {
  text-align: center;
  margin-bottom: 13px;
  width: 100%;
  display: inline-block;
  text-shadow: 2px 4px 2px $color2;
  color: white;
}
.reader-container {
  padding: 5px;
  max-width: 300px;
  overflow-x: scroll;
}
hr {
  margin-bottom: 26px;
}
header {
  background-color: $color1;
  margin-bottom: 26px;
  border-radius: 5px;
}
header nav {
  text-align: right;
  display: inline-block;
  width: 100%;
}
.nav-app {
  margin-bottom: 26px;
}
.nav-app a {
  color: white;
  padding: 5px;
  border: 3px solid $color2;
  border-radius: 5px;
}
.salir {
  margin-right: 5px;
}
.search-container {
  padding: 5px;
  padding: 5px;
  border: 2px solid $color1;
  border-radius: 20px;
  display: block;
}
.search-group {
  padding: 5px 0 13px 15px;
}
.search-group * {
  padding: 3px;
}
.inputBusqueda {
  margin-top: 5px;
  border-radius: 5px;
  border: 1px dashed $color1;
}

.intervalo-group {
  background-color: gray;
  display: block;
  align-items: center;
  padding: 5px;
}
.intervalo-group * {
  margin-top: 5px;
  margin-left: 15px;
}
.select-estado {
  border-radius: 5px;
  margin-left: 23px;
}
.intervalo-hasta {
  border-radius: 5px;
}
.paginacion-container {
  border: 2px solid $color1;
  border-radius: 20px;
  margin-top: 23px;
  padding: 5px;
}
.pagination {
  margin: 10px;

  display: flex;
  justify-content: space-between;
}
.page-item {
  list-style: none;
  border: 1px solid $color1;
  border-radius: 5px;
  background-color: $color1;
  box-shadow: 2px 2px $color2;
  color: $color3;
}
table {
  font-size: 0.8rem;
  color: $color1;
}
thead {
}
th {
  font-size: 1rem;
  border-top: 2px solid $color1;
  border-bottom: 2px solid $color1;
}
.reader-container {
  border: 2px solid $color1;
  padding: 5px;
  margin-top: 23px;
}
.nav-PDF {
  padding: 5px;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  color: $color1;
  border-bottom: 2px dashed $color1;
}
.pdf-PageNumber {
  font-weight: bold;
}
.pdfmov {
  background-color: $color1;
  color: $color3;
  box-shadow: 2px 2px $color2;
  border: 1px solid $color1;
  border-radius: 5px;
}
