@import "Global";
.home-container {
  border: 4px;
  border-color: $color1;
  max-width: 300px;
}
h1 {
  text-align: center;
  margin-bottom: 13px;
  width: 100%;
  display: inline-block;
  text-shadow: 2px 4px 2px $color2;
  color: white;
}
.reader-container {
  padding: 5px;
  max-width: 300px;
  overflow-x: scroll;
}
hr {
  margin-bottom: 26px;
}
header {
  background-color: $color1;
  margin-bottom: 26px;
  border-radius: 5px;
}
header nav {
  text-align: right;
  display: inline-block;
  width: 100%;
}
.nav-app {
  margin-bottom: 26px;
}
.nav-app a {
  color: white;
  padding: 5px;
}
.search-container {
  padding: 5px;
  padding: 5px;
  border: 2px solid $color1;
  border-radius: 20px;
  display: block;
}
.search-group {
  padding: 5px 0 13px 15px;
}
.intervalo-group {
  background-color: gray;
  display: block;
  align-items: center;
  padding: 5px;
}
